{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story8.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bookshelf.js' %}"></script>
<title>Bookshelf</title>

<body id="bg">
{% include 'navbar.html' %}
<div class = "container pagelist justify-content-center">
	<h1><b>Welcome to Lib UI Version 2.0</b></h1>
	<div class="d-flex flex-row align-items-center my-5">
		<h4 class="pr-3"> Search Book : </h4>
		<input class="form-control" id="query" placeholder="Insert a keyword.. "> 
	</div>

	<table id="list" class="table table-bordered mytable table-hover">
    </table>
	
	<div id="info">
	</div>

</div>
{% endblock content %}