{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story6.css' %}">
<title>kegiatan</title>
</head>

<body id="kegiatan">
{% include 'navbar.html' %}
<div class = "container pagelist">

    <h1>KEGIATAN</h1>
    <div class="row justify-content-center"><hr class="line-b"></div>
    <br>

    <div class="row justify-content-center">
        {% for item in activities %}  
        <div class="card text-white bg-danger m-3" style="width: 20rem;">
            <div class="card-header text-center"><h4>{{ item }}</h4></div>
            <ul class="list-group list-group-flush">
                {% for person in item.person_set.all %}  
                    <li class="list-group-item bg-danger">{{ person }}</li>
                {% empty %}
                    <li class="list-group-item bg-danger">-</li>
                {% endfor %}  
            </ul>
            <br><a href="{% url 'story6:idpersonform' item.id %}">
            <button type="button" class="btn bg-warning joinbtn btn-md m-3">Daftar !</button></a>
        </div>
        {% empty %}
        <h1 style="color:red;">Kegiatan tidak ditemukan !</h1>
        {% endfor %}  
    </div>

    <br><br>
    <a href="{% url 'story6:idkegiatanform' %}">
    <button type="button" class="btn btn-primary btn-lg btn-block">Tambahkan Kegiatan Baru</button>
    </a>
</div>

{% endblock content %}