{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story6.css' %}">
<title>Form daftar {{ activity.nama }}</title>
</head>

<body id="kegiatan">
{% include 'navbar.html' %}

<div class = "container pageadd">
    <!-- back button -->
    <a href="{% url 'story6:idkegiatan' %}">
    <button type="button" class="btn btn-primary btn-md">Kembali</button>
    <br><br>
    </a>
	<h2>Form Pendaftaran Kegiatan</h2>
    <h2>{{ activity.nama }}</h2>
	<br>
	<form action="{% url 'story6:idpersonform' activity.id %}" method="POST">
    	{% csrf_token %}
        {{ form }}
    	<br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Form</button>
	</form>
</div>


{% endblock content %}