#bg {
    background-color: #35B661;
    font-family: 'Varela', sans-serif;
}


.nav-link {
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Varela', sans-serif;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Varela', sans-serif;
}

.pagelist{
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

h1{ 
    text-align: center;
}


.accordion {
 	width: 70%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}


h4{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.toggle{
	background-color: #F86449;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	padding: 16px;
	margin: 20px;
	display: flex;
}

.isi{
	width: 80%;
	margin-left: 10%;
	text-align: left;
	overflow: hidden;
	display: none;
}

.up{
	max-width: 50px;
}
.down{
	transform: rotate(180deg);
	max-width: 50px;
}