{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PPW Story 1</title>
	<link rel="stylesheet" type="text/css" href="{% static 'story1.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
</head>

<body>
<div class="row">
	<div class="column left" >
		<h1>Halo semuanya!</h1>
		<p>
		Perkenalkan, namaku <b> Muhammad Fayaad</b><br>
		Aku kuliah di <b> Universitas Indonesia </b> dengan jurusan <b>Ilmu Komputer</b> <br>
		Aku mahasiswa dari Angkatan <b>MAUNG 2019</b> dengan <b> NPM 1906398433</b><br>
		Aku memiliki hobi <B>Bermain Game</B> sejak kecil<br>
		</p>
		
		<h2>Deskripsi tentang diriku:</h2>
		<p>
		Aku itu orangnya pemalu, hal itu yang membuat aku susah mencari teman 
		baru. aku juga orangnya tidak suka tempat yang ramai, aku lebih suka
		tinggal diruangan sendiri atau dengan beberapa orang saja. Jadi, aku 
		menggunakan website ini sebagai sarana untuk mencari teman baru :D
		</p>
	  
		<h2>Riwayat Pendidikanku:</h2>
		<ol>
		  <li>TK Ihsaniyah Gajahmada</li>
		  <li>SD Ihsaniyah Gajahmada</li>
		  <li>SMP Ihsaniyah Gajahmada</li>
		  <li>SMA Insan Cendekia Al Kausar</li>
		  <li>Universitas Indonesia</li>
		</ol>
		    
		<h2>Media Sosialku:</h2>
		<a href="https://www.instagram.com/fayaadbsa/" target="_blank">
			<img id="icon" src="{% static 'image/instagram.png' %}"></a>
		<a href="https://www.linkedin.com/in/muhammad-fayaad-55b436133/" target="_blank">
			<img id="icon" src="{% static 'image/linkedin.png' %}"></a>
		<br><a href="{% url 'story3:intro' %}"><h2 style="text-align:right;"> Kembali ke Story 3 </h2></a>
	</div>

  	<div class="column right" >
		<img id="fotoku" src="{% static 'image/fotoku.jpg' %}" alt="foto diriku">
	</div>
</div>
</body>
</html>
