{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

#err {
    background-color: #484848;
    font-family: 'Varela', sans-serif;
}


.nav-link {
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Varela', sans-serif;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Varela', sans-serif;
}

.pagelist{
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

h1{
    font-weight: bold;
    text-align: center;
}
</style>
<title>ERRRRRRRRRRRRR........</title>
</head>


<body id="err">
	<div class = "container pagelist">
		<h1>Error Page 404 not Found 😥😥😥</h1>
	</div>

{% endblock content %}