{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story3.css' %}">
<title>Intro</title>
</head>

<body id="intro">
{% include 'navbar.html' %}
<div class="container bg-yellow">
    <div class="row align-items-center justify-content-center">
        <div class="flex-md-col justify-content-center">
            <div class="flex-md-row">
            <h1 class="box-red text-white d-inline align-middle float-left px-2 m-2 nama">MUHAMMAD</h1>
            </div>
            <div class="flex-md-row">
            <h1 class="box-red text-white d-inline align-middle float-left px-2 m-2 nama">FAYAAD</h1>
            </div>
            <div class="flex-md-row">
            <h3 class="text-white d-inline align-middle float-left subnama">Website Enthusiast</h3>
            </div>
        </div>

        <div class="col">
            <span class="justify-content-center">
                <img class="foto rounded mt-3" src="{% static 'image/fotoku.jpg' %}" alt="foto diriku">
            </span>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <a href="#2">
            <img class="panah" src="{% static 'image/arrow.png' %}" alt="panah">
        </a>
    </div>
</div>

<div class="container-fluid bg-yellow" id="2"> 
    <span class="m-2">
    <br>
        <div class="row justify-content-center"><img class="maung" src="{% static 'image/maung.png' %}" alt="maung"><br></div>
        <div class="row justify-content-center"><h2 class="text-white font-ss">Maung &nbsp 2019</h2></div>
        <div class="row justify-content-center"><hr class="line-r"></div>
        <div class="row justify-content-center"><p class="text-white text-center ">
            Im from Computer Science Degree <br>
            at Universitas Indonesia <br>
            Year of 2019
        </p></div>    
    <br><br>
    <br><br>
</span>
    <a href="#3">
        <img class="panah" src="{% static 'image/arrow.png' %}" alt="panah">
    </a>
</div>


<div class="container-fluid bg-yellow" id="3">
    <h2 class="text-white pt-1 font-ss">Interest</h2>
    <hr class="line-r">
    <div class="row no-gutters justify-content-center p-2">
        <div class="col-lg-3 m-2">
            <img class="interest_img rounded" src="{% static 'image/in_pl.jpg' %}" alt="playing">
            <h3 class="text-white interest_txt pl">PLAYING</h3>
        </div>
        <div class="col-lg-3 m-2">
            <img class="interest_img rounded" src="{% static 'image/in_ne.jpg' %}" alt="netflix">
            <h3 class="text-white interest_txt ne">NETFLIX</h3>
        </div>
        <div class="col-lg-3 m-2">
            <img class="interest_img rounded" src="{% static 'image/in_st.jpg' %}" alt="study">
            <h3 class="text-white interest_txt st">STUDY</h3>
        </div>
    </div>
    <a href="#footer">
        <img class="panah" src="{% static 'image/arrow.png' %}" alt="panah">
    </a>
</div>

<div class="container-fluid footer" id="footer">
    <h2 class="text-white seeya">See Ya!</h2>
    <h3>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=fayet256@gmail.com&tf=1" class="text-white mail" target="_blank">
            fayet256@gmail.com
        </a>
    </h3>

    <a href="#1">
        <img class="panah flip" src="{% static 'image/arrow.png' %}" alt="panah">
    </a>

    <div class="medsos">
        <a href="https://open.spotify.com/user/212op27ioukzdxb6rwxioj6ci?si=jPRepm_XRSK1oNi9gWCQlg" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_sp.png' %}" alt="Spotify">
        </a>
        <a href="https://www.linkedin.com/in/muhammad-fayaad-55b436133/" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_in.png' %}" alt="Linked In">
        </a>
        <a href="https://www.instagram.com/fayaadbsa/" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_ig.png' %}" alt="instagram">
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock content %}