{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story3.css' %}">
<title>Portofolio</title>
</head>

<body id="portofolio">
{% include 'navbar.html' %}


<div class="container-fluid bg-red bg-img">
    <h2 class="text-white porto_text p-2 font-ss">P o r t o f o l i o</h2>
    <a href="#2">
        <img class="marjintop panah " src="{% static 'image/arrow2.png' %}" alt="panah">
    </a>
</div>

<div class="container-fluid bg-red" id="2">
    <h2 class="text-white pt-2 font-ss">Education & Experience</h2>
    <hr class="line-y">
    <div class="row justify-content-center p-2">
        <div class="col-5">
            <h1 class="box-yellow text-white edu sd mt-2">SD IHSANIYAH TEGAL</h1>
            <p class="text-white text-right pr-3">2007 - 2013</p>
            <h1 class="box-yellow text-white edu smp mt-2">SMP IHSANIYAH TEGAL</h1>
            <p class="text-white text-right pr-3">2013 - 2016</p>
            <h1 class="box-yellow text-white edu sma mt-2">SMA IC AL KAUSAR</h1>
            <p class="text-white text-right pr-3">2016 - 2019</p>
            <h1 class="box-yellow text-white edu ui mt-2">UNIVESRITAS INDONESIA</h1>
            <p class="text-white text-right pr-3">2019 - Present</p>
        </div>
        <div class="col-1">
            <div class="line-yh"></div>
        </div>
        <div class="col-5">
            <h1 class="box-yellow text-white exp alp mt-5">ALPHASEISMIC 2018</h1>
            <p class="text-white text-left pl-3">Multimedia</p>
            <h1 class="box-yellow text-white exp agr mt-5">ALKA GREEN RUN 2018</h1>
            <p class="text-white text-left pl-3">Multimedia</p>
            <h1 class="box-yellow text-white exp osis mt-5">OSIS AL-KAUSAR 2018</h1>
            <p class="text-white text-left pl-3">Head of Scitech Division</p>
        </div>
    </div>
    <a href="#3">
        <img class="panah " src="{% static 'image/arrow2.png' %}" alt="panah">
    </a>
</div>


<div class="container-fluid bg-red" id="3">
    <h2 class="text-white pt-1 font-ss">Project</h2>
    <hr class="line-y2">
    <h3>
        <a href="https://www.youtube.com/watch?v=1XrQwladhuc" class="text-white link" target="_blank">Alphaseismic 2018 After Movie</a></h3>
    <iframe width="858" height="480" src="https://www.youtube.com/embed/1XrQwladhuc?controls=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <a href="#footer">
        <img class="panah " src="{% static 'image/arrow2.png' %}" alt="panah">
    </a>
</div>

<div class="container-fluid footer" id="footer">
    <h2 class="text-white seeya">See Ya!</h2>
    <h3>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=fayet256@gmail.com&tf=1" class="text-white mail" target="_blank">
            fayet256@gmail.com
        </a>
    </h3>


    <a href="#1">
        <img class="panah flip" src="{% static 'image/arrow2.png' %}" alt="panah">
    </a>


    <div class="medsos">
        <a href="https://open.spotify.com/user/212op27ioukzdxb6rwxioj6ci?si=jPRepm_XRSK1oNi9gWCQlg" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_sp.png' %}" alt="Spotify">
        </a>
        <a href="https://www.linkedin.com/in/muhammad-fayaad-55b436133/" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_in.png' %}" alt="Linked In">
        </a>
        <a href="https://www.instagram.com/fayaadbsa/" target="_blank">
            <img class="medsos_img" src="{% static 'image/logo_ig.png' %}" alt="instagram">
        </a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock content %}