{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story7.css' %}">
<title>Accordion</title>

<body id="bg">
{% include 'navbar.html' %}
<div class = "container pagelist justify-content-center text-center">
    <h1><i>< ａ ｃ ｃ ｏ ｒ ｄ ｉ ｏ ｎ ></i></h1>
    <br>
    <br>

	<div class="accordion">
	  <div class="toggle">
	  	<img class="up" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  	<h4>Profile</h4>
	  	<img class="down" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  </div>
	  <div class="isi">
	    <ul>
	    	<li>Nama : Muhammad Fayaad</li>
	    	<li>NPM	: 190639999</li>
	    	<li>Pendidikan : Universitas Indonesia</li>
	    </ul>
	  </div>
	</div>

	<div class="accordion">
	  <div class="toggle">
	  	<img class="up" src="{% static 'image/story7/pointer.png' %}" alt="before">
		<h4>Experiences/Achievement</h4>
		<img class="down" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  </div>
	  <div class="isi">
	    <ul>
	    	<li>2nd Winner Startup Weekend Jakarta 2020</li>
	    	<li>Juara Harapan 2 Story Telling Tingkat Kota Tegal</li>
	    	<li>Juara Harapan 2 Fashion Show TK Tingkat Kota Tegal</li>
	    </ul>
	  </div>
	</div>

	<div class="accordion">
	  <div class="toggle">
	  	<img class="up" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  	<h4>Education</h4>
	  	<img class="down" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  </div>
	  <div class="isi">
	    <ul>
	    	<li>SD Ihsaniyah Gajahmada Tegal</li>
	    	<li>SMP Ihsaniyah Gajahmada Tegal</li>
	    	<li>SMA Insan Cendekia Al Kausar Sukabumi</li>
	    </ul>
	  </div>
	</div>

	<div class="accordion">
	  <div class="toggle">
	  	<img class="up" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  	<h4>Activity</h4>
	  	<img class="down" src="{% static 'image/story7/pointer.png' %}" alt="before">
	  </div>
	  <div class="isi">
	  	<p>Bermain, belajar, mengaji ,mendongeng, menonton
	    	menyanyi ,menari, bermain sepak bola, salto
	    	push up, bucyn</p>
	  </div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'story7.js' %}"></script>
{% endblock content %}