body{
    font-family: 'Varela', sans-serif;
}

.auth-page {
    background-color: #00e8e4;

}

.pagelist{
    margin-top: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    min-height: 600px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.authlist{
    margin-top: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 25px;
    min-height: 600px;
    width: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


h1,h3{
    font-weight: bold;
    text-align: center;
}


.btn, .btn:hover{
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.loginbtn{
    background-color: #007bff;
}

.loginbtn:hover{
    background-color: #315bcc;
}

.signupbtn{
    background-color: #F86449;
}

.signupbtn:hover{
    background-color: #de553c;
}

a:hover{
    text-decoration: none;
}

a.close{
  cursor: pointer;
}

.form-control{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

input{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profform{
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1500px) { 
.form-control{
    width: 100%;
}
.authlist{
    width: 40%;
}


}

