#formpage {
    background-color: #1544c0;
    font-family: 'Varela', sans-serif;
}

.pageadd{
    width: 70%;
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

.pagelist{
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

.thead{
    background-color: #F86449; 
    color: white;
}
.mytable{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1,h2{
    font-weight: bold;
    text-align: center;
}

th{
    font-family: sans-serif;
}


.addbtn{
    background-color: #F86449;
    border-color:  #F86449;
    color: white;
}

.addbtn:hover{
    background-color:#de553c;
    border-color: #de553c;
    color: white;
}
a:hover{
    text-decoration: none;
}

.line-r {
    margin-top: 0px;
    border-top: 5px solid #F86449;
    width: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    float: center;
}
.desc{
    text-align: center;
    width: 90%;
}