body {
  background-color: #87EBB1;
  padding: 2%;
}

tr{
  vertical-align:top;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
/*  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width:55%;
  padding: 2%;
  background-color: #E9EDF0;
  box-shadow: 10px 10px #05A096;
}

.right {
  width: 30%;
  padding-right: 5%;
  float:right;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2:hover{
  text-decoration:none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
a{
  text-decoration:none;
}
h1{
  font-family: 'Itim';
  font-size: 350%;
  color: #05A096;
  text-shadow: 2px 2px #106252;
  margin: 0%;
}

p, h2, li{
  font-family: 'Itim';
  font-size: 110%;
  color: #106252;
  text-shadow: 1px 1px #CDD6DC;
}


#fotoku{
  float: right;
  height: auto; 
  width: auto; 
  max-height: 640px;
  box-shadow: 10px 10px #05A096;
}

#icon{
  float: left;
  height: auto; 
    width: auto; 
    max-height: 70px;
    padding-right: 30px;
}
