/*containers*/
* {
    font-family: 'Varela', sans-serif;
}

#intro {
    background-color: #FBE10F;
}

#portofolio {
    background-color: #F86449;
}

.font-ss {
    font-family: 'Sansita Swashed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bg-yellow {
    background-color: #FBE10F;
}

.bg-red {
    background-color: #F86449;
}

.bg-grey {
    background-color: #EEEDE7;
}

.text-red {
    color: #F86449;
}

.nav-link {
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
a:hover{
    text-decoration: none;
}


.container, .container-fluid {
    text-align: center;
    min-height: 700px;
}

.box-red {
    background-color: #F86449;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}   

.box-yellow {
    background-color: #FBE10F;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
    position: relative;
}





/*text*/
h1 {
    letter-spacing: 5px;
}

h2 {
    font-size: 60px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 22px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.interest_txt {
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 8%;
    font-size: 50px;
    font-weight: 0;
}

.pl {
    left: 17%;
}

.ne {
    left: 19%;
}

.st {
    left: 26%;
}

.seeya {
    position: absolute;
    font-size: 300px;
    font-family: 'Sansita Swashed', sans-serif;
    transform: rotate(-10deg);
    left: 18%;
    bottom: 40%;
}

.mail {
    position: absolute;
    left: 4%;
    bottom: 6%;
}

.mail:hover {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.medsos {
    position: absolute;
    right: 4%;
    bottom: 4%;
    width: 14%;
}

.flip {
    position: absolute;
    bottom: 8%;
    left: 48%;
    transform: scaleY(-1);
}

.porto_text {
    font-size: 150px;
    font-family: 'Sansita Swashed', sans-serif;
}

.edu {
    text-align: right;
    font-size: 36px;
    margin: 3%;
    padding: 10px;
}

.exp {
    text-align: left;
    font-size: 36px;
    margin: 3%;
    margin-right: 5%;
    padding: 10px;
}

.sd {
    margin-left: -1%;
}

.smp {
    margin-left: -7%;
}

.sma {
    margin-left: 10%;
}

.ui {
    margin-left: -15%;
}

.alp {
    margin-right: 5%;
}

.agr {
    margin-right: -8%;
}

.osis {
    margin-right: -3%;
}

/*pics and decor*/

.bg-img {
    background-image: url("image/portofolio.jpg");
    /* Full height */
    height: 550px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.line-y {
    margin-top: 0px;
    border-top: 5px solid #FBE10F;
    width: 40%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.line-y2 {
    margin-top: 0px;
    border-top: 5px solid #FBE10F;
    width: 20%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.line-yh {
    margin-top: -10px;
    border: 3px solid #FBE10F;
    height: 490px;
    width: 3px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
    margin-left: 45%;
}

.col-1 {
    padding-top: 50px;
    margin: -30px;
}

.line-r {
    margin-top: 0px;
    border-top: 5px solid #F86449;
    width: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    float: center;
}


.foto {
    height: auto;
    width: auto;
    float: right;
    max-height: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.panah {
    height: auto;
    width: auto;
    max-height: 50px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
}

.panah:hover {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.marjintop {
    margin-top: 27%;
}

.maung {
    /*margin: 1%;*/
    /*float: center;*/
    height: auto;
    width: auto;
    max-height: 275px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.interest_img {
    float: center;
    height: auto;
    width: auto;
    max-height: 450px;
    margin: 2%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.medsos_img {
    float: right;
    height: auto;
    width: auto;
    max-height: 50px;
    margin: 3%;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1));
}

.medsos_img:hover {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3))
}



/*respoonsive*/
.nama {
  font-size: 60px;
}
.subnama{
    margin:.5rem;
    margin-top: 4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nama {
    font-size: 44px;
}
  .foto{
    float: none;
}
  .subnama{
    margin-top: .5rem;
}
    p{
        font-size: 18px;
}   
    h2{
    font-size: 52px;
} 
.line-r{
    width: 65%;
}
.pl {
    left: 11%;
}

.ne {
    left: 13%;
}

.st {
    left: 21%;
}
.seeya {
    font-size: 190px;
    left: 12%;
    bottom: 40%;
}
.medsos {
    bottom: 13%;
}
.mail {
    bottom: 15%;
    font-size: 20px;
}
.flip{
    bottom: 3%;
}

}