#kegiatan {
    background-color: #9900cc;
    font-family: 'Varela', sans-serif;
}


.nav-link {
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Varela', sans-serif;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Varela', sans-serif;
}

.pageadd{
    width: 70%;
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

.pagelist{
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}

.thead{
    background-color: #F86449; 
    color: white;
}
.mytable{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1,h2{
    font-weight: bold;
    text-align: center;
}

th{
    font-family: sans-serif;
}


.addbtn{
    background-color: #1544c0;
    border-color:  #1544c0;
    color: white;
}

.joinbtn{
    width: 30%;
    color: white;
}

.addbtn:hover{
    background-color:#123799;
    border-color: #123799;
    color: white;
}
a:hover{
    text-decoration: none;
}

.line-b {
    margin-top: 0px;
    border-top: 5px solid #007bff;
    width: 25%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    float: center;
}
.desc{
    text-align: center;
    width: 90%;
}