#bg {
    background-color: #FF943C;
    font-family: 'Varela', sans-serif;
}


.nav-link {
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Varela', sans-serif;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Varela', sans-serif;
}

.pagelist{
    margin-top: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 25px;
    min-height: 700px;
}

h1{
    text-align: center;
}

#query{
    width: 30%;
}

.mytable{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

thead{
    background-color: #F86449; 
    color: white;
}

.notfound{
    color: red;
}

#info{
    margin-top: 120px;
}