{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Varela&family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Itim&&display=swap" rel="stylesheet">
    <link rel = "icon" href ="{% static 'image/myicon.png' %}" type = "image/png"> 
    <!-- navbar css -->
    <style type="text/css">
    	.nav-img{
    		width:50px;
    		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    	}
    	.nav-btn{
    		background-color: rgba(255, 255, 255, .15);  
 			backdrop-filter: blur(10px);
 			border-color: white;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    	}
    	.active{
		  background-color: #666;
		  color: blue;
		}
		.nav-link {
		    font-size: 20px;
		    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		    font-family: 'Varela', sans-serif;
		}

		.nav-link:hover {
		    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		    font-family: 'Varela', sans-serif;
		}
        .txt-shdw {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
{% block content %}

{% endblock content %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>


    