{% load static%}
<!-- My Code -->
<nav class="navbar navbar-expand-md justify-content-center m-auto" id="1"> 
    <a class="nav-link" href="{% url 'story3:intro' %}">
        <img src="{% static 'image/myicon.png' %}" alt="logonavbar" type = "image/png" class="nav-img mx-2">
    </a>
    <div class="row align-middle">
        <a class="nav-link text-white" href="{% url 'story3:intro' %}">Intro</a>
        <a class="nav-link text-white" href="{% url 'story3:portofolio' %}">Portofolio</a>
        <a class="nav-link text-white" href="{% url 'story4:schedule' %}">Mata Kuliah</a>
        <a class="nav-link text-white" href="{% url 'story6:idkegiatan' %}">Kegiatan</a>
        <a class="nav-link text-white" href="{% url 'story7:idindex' %}"><i>Accordion</i></a>
        <a class="nav-link text-white" href="{% url 'story8:idindex' %}">Bookshelf</a>
        <a class="nav-link text-white" href="{% url 'story1:idindex' %}">Story 1</a>
    </div>
    <div style="margin-inline-start:auto;">
        {% if user.is_authenticated %}
            <div class="row align-middle align-items-center">
                <h4 class="txt-shdw text-white align-self-center">Welcome, {{ request.user.username}}</h4>
            	<a class="nav-link" href="{% url 'story9:profile' user.username %}">
                    <button type="button" class="btn btn-lg text-white nav-btn" style="">Profile</button>
                </a>
            </div>
        {% else %}
        	<a class="nav-link text-white" href="{% url 'story9:loginsite' %}"><button type="button" class="btn btn-lg text-white" style=" background-color: rgba(255, 255, 255, .15);  
     backdrop-filter: blur(10px);border-color: white;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">Login</button></a>
        {% endif %}
    </div>
</nav>