{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story4.css' %}">
<title>Detail Matkul {{ matkul.nama_matkul }}</title>
</head>

<body id="formpage">
{% include 'navbar.html' %}
<div class = "container pagelist">
	<a href="{% url 'story4:schedule' %}">
    <button type="button" class="btn addbtn btn-md">Kembali</button>
    </a>
    <h2>{{ matkul.nama_matkul }}</h2>
    <div class="row justify-content-center"><hr class="line-r"></div>
  	<br>
    <div class="row justify-content-center">
    <h5 class="desc">{{ matkul.deskripsi }}</h5>
	</div>
    <br><br>
    <table class="table table-detail"><tbody>
    	<tr><td><h5>Nama Dosen</h5></td><td><h5>: {{ matkul.dosen_pengajar }}</h5></td></tr>
		<tr><td><h5>Nama Kelas</h5></td><td><h5>: {{ matkul.ruang_kelas }}</h5></td></tr>
		<tr><td><h5>Kapasitas</h5></td><td><h5>: {{ matkul.kapasitas }}</h5></td></tr>
		<tr><td><h5>Jumlah SKS</h5></td><td><h5>: {{ matkul.sks }}</h5></td></tr>
		<tr><td><h5>Tahun Ajaran</h5></td><td><h5>: {{ matkul.semester }}</h5></td></tr></tbody>
	</table>

    <br>
    <span class="text-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn addbtn btn-md" data-toggle="modal" data-target="#exampleModal">Hapus</button>
    </span>

    <!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="exampleModalLabel"><b>{{ matkul.nama_matkul }}</b></h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Apakah anda yakin ingin menghapus Mata Kuliah ini ?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
	        <a href="{% url 'story4:idhapus' matkul.id %}"><button type="button" class="btn addbtn btn-md">Ya</button></a>
	      </div>
	    </div>
	  </div>
	</div>

    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock content %}