{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story4.css' %}">
<title>Mata Kuliah</title>
</head>

<body id="formpage">
{% include 'navbar.html' %}
    <div class = "container pagelist">

     <h1>MATA KULIAH</h1>
     <div class="row justify-content-center"><hr class="line-r"></div>
     <br>
    {% if matkuls %}

    <table class="table mytable table-striped">
    <thead class="thead ">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Nama Dosen</th>
            <th scope="col">Kelas</th>
            <th scope="col">Semester</th>
        </tr>
    </thead>
    <tbody class="tbody">
    {% for matkul in matkuls %}  
        <tr>        
            <td>{{ forloop.counter }}</td>
            <td>{{ matkul }}</td>
            <td>{{ matkul.dosen_pengajar }}</td>
            <td><a href="{% url 'story4:iddetail' matkul.id %}">{{ matkul.ruang_kelas }}</a></td>
            <td>{{ matkul.semester }}</td>
        </tr>    
    {% endfor %}
    </tbody>
    </table>
    


    {% else %}
    <h1 style="color:red;">Mata Kuliah tidak ditemukan !</h1>
    {% endif %}

    <br><br><br>
    <a href="{% url 'story4:idisiform' %}">
    <button type="button" class="btn addbtn btn-lg btn-block">Tambahkan Mata Kuliah Baru</button>
    </a>
    </div>

{% endblock content %}