{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story4.css' %}">
<title>Tambahkan Mata Kuliah</title>
</head>

<body id="formpage">
{% include 'navbar.html' %}

<div class = "container pageadd">
    <!-- back button -->
    <a href="{% url 'story4:schedule' %}">
    <button type="button" class="btn addbtn btn-md">Kembali</button>
    <br><br>
    </a>
	<h2>FORM PENAMBAHAN MATA KULIAH BARU</h2>
	<br>
	<form action="" method="POST">
    	{% csrf_token %}
        
    	{% for item in form %}
    		{{ item.label }}{{ item }}<br>
    	{% endfor %}
    	<br>
        <button type="submit" class="btn addbtn btn-lg btn-block">Submit Form</button>
	</form>
</div>


{% endblock content %}