{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">
<title>Sign Up</title>
</head>


<body class="auth-page">
{% include 'navbar.html' %}



<div class = "container authlist justify-content-center">
  {% for message in messages %}
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">❌</a>
    {{message}}
  </div>
  {% endfor %}
  <h1 class="mb-5">Register</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <h3 class="m-3">{{ field.label_tag }}</h3>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn loginbtn btn-lg my-5">Sign Up</button>
    </div>
    <p class="my-3 text-center">Already have an account ?
  <a href="{% url 'story9:loginsite' %}">Sign In</a>
  </p>
  </form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock %}