{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">
<title>Login</title>
</head>


<body class="auth-page">
{% include 'navbar.html' %}

<div class = "container authlist justify-content-center">
	{% for message in messages %}
	  <div class="alert alert-danger">
	    <a class="close" data-dismiss="alert">❌</a>
	    {{message}}
	  </div>
	{% endfor %}
	
	<h1 class="mb-5">User Login</h1>
	<form action="" method="POST">
		{% csrf_token %}
		<h3 class="m-3">Username</h3>
		<div class="form-group text-center">
			<input type="text" name="username" class="form-control"><br/>
		</div>
		<h3 class="m-3">Password</h3>
		<input type="password" name="password" class="form-control"><br/>

		<div class="text-center">
		<button type="submit" class="btn loginbtn btn-lg mt-3 mb-5">Sign In</button>
		</div>
		
	</form>
	<p class="mt-5 text-center">Don't have an account ?
	<a href="{% url 'story9:signupsite' %}">Create One</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock content %}