{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'story9.css' %}">
<title>Profile</title>
</head>


<body class="auth-page">
{% include 'navbar.html' %}
<div class = "container pagelist justify-content-center">
	{% for message in messages %}
 		{% if message.tags == 'success' %}
		<div class="alert alert-success">
		    <a class="close" data-dismiss="alert">❎</a>
		   	{{message}}
		</div>
		{% else %}
		<div class="alert alert-danger">
		    <a class="close" data-dismiss="alert">❌</a>
		   	{{message}}
		</div>
		{% endif %}
	{% endfor %}

	<div class="text-center">
	<img class="m-3" src="{{profile.image}}" alt="image" style="object-fit: cover; object-position: 50% 0;border-radius: 50%; border-style: solid; height: 200px; width: 200px;"> 
	</div>
	<h1>{{ profile.name }}'s Profile</h1>
	<h5 class="mb-5 text-muted text-center">@{{ user.username }}</h5>
	<br>
	{% if status %}
	<div class="profform justify-content-center">
		<form action="" method="POST">
			{% csrf_token %}
			<table class="table table-detail">
				{{ form }}
			</table>
			<div class="text-right">
				<button type="submit" class="btn loginbtn btn-lg">Save</button>
			</div>
		</form>
	</div>
	<br>
	<div class="my-5">
	<a href="{% url 'story9:logoutsite' %}">
		<button type="button" class="btn signupbtn btn-lg">Logout</button>
	</a>
	</div>
	{% endif %}
</div>
	
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock content %}